<!-- mt-auto makes the footer go to the bottom  -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; HotelBooking 2021</span>
    </div>
</footer>
