    <% layout('layouts/boilerplate')%>
    <div class="container mb-4">    
        <div class="row">
          <div class="col">
          </div>
          <div class="col-12 col-sm-12 col-lg-9">
            <div class="card shadow border-0">          
              <div class="card-body">
    <h1 class="text-center">List Hotel</h1>
    <!-- hotel[title] is used so that app.js can access the input as a req.body value for hotel -->
    <!-- offset-3 puts this div in the middle 6 columns (3 on either side) -->
        <p>
            <small class="text-muted">Fields marked * are required.</small>
          </p>
        <form action="/hotels" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <!-- title input -->
            <div class="mb-3">
                <label class="form-label" for="title">Title*</label>
                <input class="form-control" type="text" id="title" name="hotel[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a hotel title.
                  </div>
            </div>
            <!-- location input -->
            <div class="mb-3">
                <label class="form-label" for="location">Location*</label>
                <input class="form-control" type="text" id="location" name="hotel[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid location.
                  </div>
            </div>
            <!-- descrption input -->
            <div class="mb-3">
                <label class="form-label" for="description">Description*</label>
                <textarea class="form-control" type="text" id="description" name="hotel[description]"required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a description of your hotel.
              </div>
            </div>
             <!-- image input -->
             <div class="mb-3">
                <div class="form-file custom-file">
                    <!-- name = 'image' has to match the upload.array('image') -->
                    <input type="file" class="form-file-input" id="image" name="image" multiple required>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Image*</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                    <div class="invalid-feedback">
                        Please upload an image of your hotel.
                      </div>
                </div>
            </div>
            <!-- phone input -->
            <div class="form-group">
                <label for="">Phone Number*</label>
                <input type="text" class="form-control" name="hotel[phone]" placeholder="123-456-7891" required>
                <div class="invalid-feedback">
                  Please provide a phone number.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
              </div>
              <!-- booking input -->
              <label for="">Booking Window*</label>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" name="hotel[start]" placeholder="Starting Month" required>
                  <div class="valid-feedback">
                    Looks good!
                </div>
                  <div class="invalid-feedback">
                    Please provide a booking window.
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" name="hotel[end]" placeholder="Ending Month" required>
                  <div class="valid-feedback">
                    Looks good!
                </div>
                  <div class="invalid-feedback">
                    Please provide a booking window.
                  </div>
                </div>
              </div>
              <!-- amenities input -->
              <div class="form-group">
                <label for="">Amenities separated by commas</label>
                <input type="text" class="form-control" name="hotel[amenities]" placeholder="Example: swimming pool, gym, wifi">
              </div>

            <div class="mb-3 mt-3">
                <button class="btn btn-success">List Hotel</button>
            </div>
        </form>
    </div>
</div>
</div>
<div class="col">
</div>
</div>
</div>