<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://cf.bstatic.com/images/hotel/max1024x768/140/140295091.jpg"
                alt="" class="card-img-top" />
                    <div class="card-body">
                        <h1 class="text-center">Register</h1>
                        <p>
                          <small class="text-muted">Fields marked * are required.</small>
                        </p>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="fullName">Name*</label>
                            <input class="form-control" type="text" id="fullName" name="fullName" placeholder="John Smith" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter your name.
                              </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username*</label>
                            <input class="form-control" type="text" id="username" name="username" placeholder="johnsmith" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a username.
                              </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email*</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="john@smith.com" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide an email.
                              </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password*</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a password.
                              </div>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>
                    <div class="mt-2 text-center">
                        Have an account?
                        <a href="/login">Login</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>